body {
    background-image: url("bowl.png");
    font-family: "Comic Sans MS", "Comic Sans";
    font-size: xx-large;
}


.flowers {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.navbar {
    font-size: medium;
    text-align: center;
}

.lengths {
    display: flex;
    justify-content: center;
}

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.main {
    background-image: url("papyrus.jpg");
    min-height: 600px;
    margin: 15px auto;
    width: 90vw;
    border-radius: 10px;
}

.navbar {
    border: 5px outset rgb(190, 112, 11);
    background-color: rgba(255, 217, 0, 0.294);
    border-radius: 10px;
    padding: 10px 5px;
    width: fit-content;
    text-align: center;
    margin: 10px auto;
}

a:visited {
    text-decoration: none;
    color: blue;
}

.navbar a {
    margin: 2px 10px;
}

.header {
    background-image: url("papyrus.jpg");
    width: 90vw;
    justify-content: space-evenly;
    margin: 10px auto;
    padding-bottom: 8px;
    border-radius: 10px;
}

@media (min-width: 1040px) {
    .main {
      width: 80vw;
    }

    .header {
        width: 80vw;
    }
  }

.flower-gif {
    width: 100px;
    height: auto;
}

.chime-gif {
    width: 50px;
    height: auto;
}

form {
    display: flex;
    align-items: center;
}

input {
    height: fit-content;
    margin-left: 10px;
    font-size: x-large;
    background-color: lightpink;
    font-family: "Comic Sans MS", "Comic Sans";
    width: 112px;
    resize: horizontal;
}

button {
    padding: 10px;
    background-color: pink;
    border-radius: 20px;
    font-size: larger;
    font-family: "Comic Sans MS", "Comic Sans";
    color: black;
}