/* Particle stylings */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}

/* ---- base ---- */

html,body{ 
	width:100%;
	height:100%;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

canvas {
  display: block;
}



#particles-js {
  width: 100%;
  height: 100%;
  background-image: url("./assets/images/pode-min.png");
  background-repeat:no-repeat;
  background-size:100% 100vh;
}

.links {
  background-color: white;
  width: fit-content;
  padding: 20px;
  margin-top: 36vh;
  border: double black 5px;
  color: black;
  line-height: 25px;
  text-align: center;
  transition: all .5s;
}

.links:hover {
  transform: scale(2) rotate(360deg);
  transition: all .4s;
}

.links:hover button {
  /* transform: rotate(-360deg);
  transition: all .4s;
  transition-delay: .3s; */
  transition: box-shadow 1s ease, transform 1s ease;
  transform: scale(1.02);
  transition-delay: .2s;
  box-shadow: 3px 3px 5px black;
}

.links button {
  width: 100%;
  font-size: large;
  padding: 5px 2px;
  margin:5px 0px;
}

#blogipode button:hover {
  background-color: rgb(90, 168, 90);
  box-shadow: 3px 3px 5px rgb(44, 86, 44);

  transition: box-shadow .2s linear;
  transition-delay: 0s;
}

#music button:hover {
  background-color: blue;
  color: white;
  box-shadow: 3px 3px 5px rgb(0, 0, 126);

  transition: box-shadow .2s linear;
  transition-delay: 0s;
}

#websites button:hover {
  background-color: pink;
  box-shadow: 3px 3px 5px rgb(100, 76, 80);

  transition: box-shadow .2s linear;
  transition-delay: 0s;
}

#art button:hover {
  background-color: purple;
  color: white;
  box-shadow: 3px 3px 5px rgb(64, 0, 64);

  transition: box-shadow .2s linear;
  transition-delay: 0s;
}

#morningwords button:hover {
  background-color: goldenrod;
  box-shadow: 3px 3px 5px rgb(138, 105, 20);

  transition: box-shadow .2s linear;
  transition-delay: 0s;
}

@keyframes mobile-button {
  from {}
  to {  transform: scale(1.02);
    box-shadow: 3px 3px 5px black;}
}

@media only screen and (max-width: 1000px) {

  .links:hover {
    transform: none;
    transition: none;
  }

  .links button {
    animation: mobile-button 1s forwards ease;
    animation-delay: .6s;
  }
}