@font-face {
    font-family: ffvii;
    src: url('../assets/fonts/Final_Fantasy_VII.ttf');
}

@font-face {
    font-family: sparkle;
    src: url('../assets/fonts/vanchrome\ sparkle.otf');
}

@font-face {
    font-family: test;
    src: url('../assets/fonts/Play-Regular.ttf');
}

:root {

    /* ps1 */
    --bg-color: #00000f;
    --link-color: #ff0;
    --text-fx-color: #f6f6f6;
    --mouse-text-color: #6683a5;
    --link-hover-color: white;
    --title-color: #e7e7e7;
    --title-shadow: black;
    --bg-image: url('../assets/images/water5.gif');
    --blend-mode: color-dodge;

    /* 
    CLOUD MODE
    --bg-color: #a5b7ff;
--link-color: #fff;
--text-fx-color: #e8e8e8;
--mouse-text-color: #fff;
--link-hover-color: #040000;
--title-color: #000;
--title-shadow: #fff;
--bg-image: url('../assets/images/water5.gif');
--blend-mode: soft-light; */
    /* 
    blue dark wave
    --bg-color: #001017;
    --link-color: #ff0;
    --text-fx-color: #f6f6f6;
    --mouse-text-color: #d4d4d4;
    --link-hover-color: #000;
    --title-color: #e7e7e7;
    --title-shadow: black;
    --bg-image: url('../assets/images/water2.gif'); 
    --blend-mode: soft-light;
    */

    /*
    GREEN BLOOD THEME
    --bg-color: #152400;
--link-color: #36cc00;
--text-fx-color: #df0000;
--mouse-text-color: #00c61f;
--link-hover-color: #fff;
--title-color: #fff;
--title-shadow: #235721;
--bg-image: url('../assets/images/water5.gif'); 
--blend-mode: soft-light;
*/

    /*
PINK THEME
 --bg-color: #ffdbf1;
--link-color: #ff00d7;
--text-fx-color: #1edfff;
--mouse-text-color: #ff00cb;
--link-hover-color: #000;
 --bg-image: url('../assets/images/water2.gif');
 --blend-mode: soft-light;
 */
}

.container span.header-text {
    color: var(--title-color);
}



.container.active {
    display: flex;
}

html,
body {
    margin: 0;
    height: 100%;
    font-family: "ffvii";
    background-size: contain;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    transition: .25s background-color .25s ease, .25s background-image .25s ease;
    background-image: var(--bg-image);
    background-blend-mode: var(--blend-mode);
    background-size: cover;
}

.nav-container {
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title {
    margin-top: -20px;
    -webkit-transform: scale(1, .5);
    transform: scale(1, .5);
    color: var(--title-color);
    transition: .25s color .25s ease, .25s text-shadow .25s ease;
    text-shadow: 4px 4px var(--title-shadow);
    font-size: 50px;
    line-height: 4px;
    margin-bottom: .5rem;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    animation: spacein .6s ease-in-out;
    animation-fill-mode: forwards;
}

.container {
    /* background-image: linear-gradient(#0d2289c0, #06093bc0); */
    /* outline: 1px solid #c6c6c6; */
    /* border: 2px solid #fff; */
    /* box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, .3); */
    border-radius: 8px;
    margin: 1rem;
    margin-bottom: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    height: fit-content;
    z-index: 9999;
    min-height: 300px;
    max-height: 80%;
    display: none;
}

.nav-container.music-container {
    height: 65vh;
    flex-direction: column;
    align-items: flex-start;
    background-image: linear-gradient(#ebc0005f, #261f0253);
    border: 2px solid #cdcdcd;
    /* border: 2px solid #8e0078; */
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#websites .nav-container.music-container {
    border: 2px solid #8e0078;
    background-image: linear-gradient(#d400eb5f, #261f0253);
}

#websites.window-style::before {
    background-color: #8e0078;
}

.music-container>* {
    padding: 15px;
    padding-bottom: 0;
}

.container.active.transition-in .music-container {
    animation: slide-open .3s ease backwards;
    animation-delay: .1s;
}

.container.active.transition-out .music-container {
    animation: slide-close .25s ease-in forwards;
    /* animation-delay: .2s; */
}

.container.active.transition-in .music-scroll-container {
    animation: gallery-blur .3s ease backwards;
    animation-delay: .3s;
}

.container.active.transition-out .music-scroll-container {
    animation: gallery-blurverse .2s ease forwards;
}

.window-style.container.active.transition-in {
    animation: gallery-blur .1s ease forwards;
}

.window-style.container.active.transition-out {
    animation: gallery-blurverse .1s ease forwards;
    animation-delay: .3s;
}


@keyframes slide-open {

    from {
        height: 0;
    }

    to {
        height: 65vh;
    }
}

@keyframes slide-close {

    from {
        height: 65vh;
    }

    to {
        height: 0;
    }
}

.music-container::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

.window-style::before {
    content: ' ';
    width: calc(100%);
    height: 10px;
    display: block;
    background-color: #cdcdcd;
    position: relative;
    margin-bottom: 6px;
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 80% 0, calc(80% - 6px) 100%, 30% 100%, calc(30% - 6px) 0, 6px 0);
}

a {
    color: var(--link-color);
    text-decoration: none;
    font-size: 24pt;
    line-height: 110%;
    animation: blur 1s ease forwards;
    opacity: 0;
    animation-delay: .75s;
    overflow: hidden;
    width: fit-content;
    font-family: test;
}

.container.active.transition-out a,
.container.active.transition-out span {
    transition: 1s color .01s ease;
}

.random {
    /* color: rgb(104, 104, 2); */
    color: var(--mouse-text-color);
    transition: .25s color .25s ease;
    text-decoration: none;
    font-size: 50px;
    line-height: 110%;
    animation: blurback 1.2s ease backwards;
    opacity: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    white-space: nowrap;
}

.random.auto {
    animation-duration: 1.75s;
    animation: blurless 1.2s ease backwards;
    transition: .25s color .25s ease;
    color: var(--text-fx-color);
}

.back-button {
    user-select: none;
    cursor: pointer;
}

a:hover,
.css-link:hover,
.back-button:hover {
    color: var(--link-hover-color);
    /* transition: .25s color .25s ease; */
    transition-duration: 0s;
    transition-delay: 0s;
}

button {
    font-family: ffvii;
    font-size: 40px;
    line-height: 0;
}

.container span {
    color: var(--link-color);
    text-decoration: none;
    font-size: 24pt;
    line-height: 110%;
    animation: blur 1s ease forwards;
    opacity: 0;
    animation-delay: .75s;
    overflow: hidden;
    width: fit-content;
    font-family: test;
}

code {
    animation: blur 1s ease forwards;
}

.container.active.transition-in .title {
    animation-delay: 0s;
    animation-duration: .35s;
    animation-timing-function: ease-out;
}


.container.active.transition-in span,
.container.active.transition-in a,
.container.active.transition-in code {
    animation-delay: 0s;
    animation-duration: .45s;
}

.container.active.transition-out a,
.container.active.transition-out span,
.container.active.transition-out code {
    animation: blur-out .25s ease-out forwards reverse;
}

.container.active.transition-out .title {
    animation: spacein-trans ease .1s;
    opacity: 0;
    animation-delay: 0;
}

.css-link {
    cursor: pointer;
}

@keyframes gallery-blur {
    0% {
        filter: blur(20px);
        transform: scale(1.02);
        opacity: 0;
    }

    50% {
        opacity: .2;
    }

    100% {
        filter: blur(0px);
        opacity: 1;
        transform: scale(1);

    }
}

@keyframes gallery-blurverse {
    0% {
        filter: blur(0px);
        opacity: 1;

    }

    50% {
        opacity: .8;
    }

    100% {
        filter: blur(20px);
        transform: scale(1.02);
        opacity: 0;
    }
}

@keyframes blur {
    0% {
        filter: blur(20px);
        transform: scale(2);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        transform: scale(1);
        /* opacity: 1; */
    }

    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes blur-out {
    0% {
        filter: blur(20px);
        transform: scale(2);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        transform: scale(1);
        /* opacity: 1; */
    }

    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes blurback {
    0% {
        filter: blur(20px);
        transform: scale(1);
        opacity: 0;
    }

    1% {
        opacity: 1;
    }

    20% {
        opacity: 1;
        transform: scale(2);
    }

    90% {
        filter: blur(0px);
        transform: scale(1);
        /* opacity: 0; */
    }
}

@keyframes blurless {
    0% {
        filter: blur(20px);
        transform: scale(1);
        opacity: 0;
    }

    1% {
        opacity: 1;
    }

    20% {
        opacity: 1;
        transform: scale(2);
    }

    65% {
        filter: blur(0px);
        transform: scale(1);
        /* opacity: 0; */
    }
}

@media only screen and (max-width: 1000px) {
    .container {
        width: 95%;
    }

    .music-entry iframe {
        width: 100% !important;
    }

    .container.active .title {
        animation-duration: 0s;
    }

    .container.active.transition-in .title {
        animation-delay: 0s;
        animation-duration: .35s;
        animation-timing-function: ease-out;
    }
}

@keyframes spacein {
    from {
        letter-spacing: 100px;
        filter: blur(20px);
    }

    to {
        letter-spacing: 0;
    }
}

@keyframes spacein-trans {
    0% {
        letter-spacing: 0;
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        letter-spacing: 100px;
        filter: blur(20px);
        opacity: 0;
    }
}

#wrapper {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "ffvii";
    /* background-color: #020208; */
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#friends ul {
    height: 50vh;
    overflow: scroll;
    padding-top: 10px;
    mask-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0) 100%);
    list-style-type: none
}

#contact ul {
    list-style-type: none
}

.pot {
    width: 250px;
    height: 250px;
    border: 5px rgb(249, 129, 221) outset;
}

.music-entry {
    background-color: rgba(47, 96, 25, 0.57);
    padding: 5px;
    border: 4px inset rgb(197, 193, 187);
    width: fit-content;
    font-family: test;
    color: white;
    padding: 10px;
    /* margin: 0 auto ; */

}

.music-scroll-container {
    overflow: scroll;
    border: 1px dotted white;
    mask-image: linear-gradient(to bottom, black calc(100% - 48px), transparent 100%);
    width: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#websites .music-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #003e5f;
    max-width: 350px;
}

#websites .music-scroll-container {
    flex-direction: row;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 40px;
    border-color: #8e0078;
}

canvas {
    position: absolute;
    opacity: 0;
    transition: opacity .5s ease;
}

/* a::before {
        content: '';
        display: block;
        height: 0;
        width: 0;
        margin-top: -20pt;
    } */

/* .container::before {
    position: absolute;
    display: border;
    content: '';
    border-radius: 7px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 0;
    pointer-events: none;
} */