@font-face {
    font-family: ffvii;
    src: url('../assets/fonts/Final_Fantasy_VII.ttf');
}

@font-face {
    font-family: sparkle;
    src: url('../assets/fonts/vanchrome\ sparkle.otf');
}

@font-face {
    font-family: test;
    src: url('../assets/fonts/Play-Regular.ttf');
}

.container.active {
    display: flex;
}

html,
body {
    margin: 0;
    height: 100%;
    font-family: "ffvii";
    background-size: contain;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    /* background-color: #000; */
    align-items: center;
    background-color: #00000f;
    background-image: url('../assets/images/water5.gif');
    background-blend-mode: color-dodge;
    background-size: cover;
}

.nav-container {
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title {
    margin-top: -20px;
    -webkit-transform: scale(1, .5);
    transform: scale(1, .5);
    color: #e7e7e7;
    text-shadow: 4px 4px #000;
    font-size: 50px;
    line-height: 4px;
    margin-bottom: .5rem;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    animation: spacein .6s ease-in-out;
    animation-fill-mode: forwards;
}

.container {
    /* background-image: linear-gradient(#0D2289, #06093B); */
    /* outline: 1px solid #c6c6c6; */
    /* border: 2px solid #fff; */
    border-radius: 8px;
    /* box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, .3); */
    margin: 1rem;
    margin-bottom: 1rem;
    /* display: flex; */
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    height: fit-content;
    z-index: 9999;
    height: 300px;
    display: none;
}



a {
    color: #ff0;
    text-decoration: none;
    font-size: 24pt;
    line-height: 110%;
    animation: blur 1s ease forwards;
    opacity: 0;
    animation-delay: .75s;
    overflow: hidden;
    width: fit-content;
    font-family: test;
}

.random {
    /* color: rgb(104, 104, 2); */
    color: #6683a5;
    text-decoration: none;
    font-size: 50px;
    line-height: 110%;
    animation: blurback 1.2s ease backwards;
    opacity: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.random.auto {
    animation-duration: 1.75s;
    animation: blurless 1.2s ease backwards;
    color: #e0e0e0;
}

a:hover,
.css-link:hover {
    color: whitesmoke;
}

button {
    font-family: ffvii;
    font-size: 40px;
    line-height: 0;
}

.container span {
    color: #ff0;
    text-decoration: none;
    font-size: 24pt;
    line-height: 110%;
    animation: blur 1s ease forwards;
    opacity: 0;
    animation-delay: .75s;
    overflow: hidden;
    width: fit-content;
    font-family: test;
}

.container.active.transition-in .title{
    animation-delay: 0s;
    animation-duration: .35s;
    animation-timing-function: ease-out;
}
.container.active.transition-in span, .container.active.transition-in a{
    animation-delay: 0s;
    animation-duration: .45s;
}

.container.active.transition-out a,
.container.active.transition-out span {
    animation: blur-out .25s ease-out forwards reverse;
}

.container.active.transition-out .title {
    animation: spacein-trans ease .1s;
    opacity: 0;
    animation-delay: 0;
}

.css-link {
    cursor: pointer;
}

@keyframes blur {
    0% {
        filter: blur(20px);
        transform: scale(2);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        transform: scale(1);
        /* opacity: 1; */
    }

    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes blur-out {
    0% {
        filter: blur(20px);
        transform: scale(2);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        transform: scale(1);
        /* opacity: 1; */
    }

    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes blurback {
    0% {
        filter: blur(20px);
        transform: scale(1);
        opacity: 0;
    }

    1% {
        opacity: 1;
    }

    20% {
        opacity: 1;
        transform: scale(2);
    }

    90% {
        filter: blur(0px);
        transform: scale(1);
        /* opacity: 0; */
    }
}

@keyframes blurless {
    0% {
        filter: blur(20px);
        transform: scale(1);
        opacity: 0;
    }

    1% {
        opacity: 1;
    }

    20% {
        opacity: 1;
        transform: scale(2);
    }

    65% {
        filter: blur(0px);
        transform: scale(1);
        /* opacity: 0; */
    }
}

@media only screen and (max-width: 1000px) {
    .container {
        width: 85%;
    }
}

@keyframes spacein {
    from {
        letter-spacing: 100px;
        filter: blur(20px);
    }

    to {
        letter-spacing: 0;
    }
}

@keyframes spacein-trans {
    0% {
        letter-spacing: 0;
        opacity: 1;
    }
90%{opacity: 1;}
    100% {
        letter-spacing: 100px;
        filter: blur(20px);
        opacity: 0;
    }
}

#wrapper {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "ffvii";
    /* background-color: #020208; */
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}



/* a::before {
        content: '';
        display: block;
        height: 0;
        width: 0;
        margin-top: -20pt;
    } */

/* .container::before {
    position: absolute;
    display: border;
    content: '';
    border-radius: 7px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 0;
    pointer-events: none;
} */