html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #85d58a;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;

    text-align: center;
    color:white;
}

/* canvas {
  display: block;
  margin: 0 auto;
  width: fit-content;
  z-index: 100;
  position: inherit;
} */

main {
  /* display: flex;
  justify-content: center; */
}